{% extends "base.txt.jinja2" %}

{% block content %}
Hi there,

This is your email verification code:

{{code}}

Please activate your account by entering the above code into the application:

{% endblock %}
